torch
fairscale
fire
sentencepiece
pandas
tqdm
requests
torchvision
pyyaml
matplotlib
seaborn
scipy
omegaconf
iopath
timm==0.4.12
decord
webdataset
transformers>=4.28.0
opencv-python-headless==4.5.5.64
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
spacy
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece